html, body {
  font-family: Arial, Helvetica, sans-serif;
}

.tg-register-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  min-height: 0px;
}

.tg-header, .tg-body, .tg-footer {
  flex-shrink: 0;
}

.tg-register-header {
  background: navy;
  padding: 5px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 2em;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tg-register-header-right {
  position: absolute;
  background: white;
  margin: 2px;
  height: 46px;
  width: 300px;
  right: 20px;
  border-radius: 20px;
  flex-direction: row;
}

.tg-register-header-right > img {
  margin-left: 20px;
  margin-top: 3px;
  height: 40px;
  width: auto;
}

.tg-register-body {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  min-height: 0;
  height: calc(100vh - 200px);
  width: 600px;
  margin-left: calc(50vw - 300px);
  padding-right: 20px;
  overflow-y: auto;
  overflow-x: hidden;
}

.tg-register-footer {
  background: navy;
  padding: 5px;
  height: 50px;
  line-height: 50px;
  color: white;
  font-weight: bold;
  font-size: 1em;
  text-align: right;
  border-radius: 10px;
  margin-top: 20px;
}

.tg-register-top-message {
  font-style: normal;
  font-size: 1em;
  margin-bottom: 20px;
}

.tg-register-top-message > h1 {
  font-style: normal;
  font-weight: bold;
  font-size: 1.8em;
  text-align: center;
  color: orange;
}

.tg-register-top-message > p {
  text-align: justify;
  line-height: 1.2;
}

.tg-register-bottom-message {
  font-style: normal;
  font-size: 0.8em;
  margin-top: 20px;
}

.tg-register-bottom-message > p {
  text-align: justify;
  line-height: 1.2;
}

.tg-register {
  border: 3px solid orange;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tg-form {
  width:100%;  
}

.tg-form fieldset {
  display: block;
  margin-inline-start: 2px;
  margin-inline-end: 2px;
  padding-block-start: 0.35em;
  padding-inline-start: 0.75em;
  padding-inline-end: 0.75em;
  padding-block-end: 0.625em;
  border: none;
}

.tg-form fieldset table {
  border: none;
}

.tg-form fieldset tr {
  border: none;
}

.tg-form fieldset td {
  border: none;
}

.tg-register-button {
  display: block;
  width: 99%;
  border: none;
  background-color: orange;
  padding: 14px 28px;
  cursor: pointer;
  text-align: center;
  font-size: 1.3em;
  font-weight: bold;
}

.tg-button-small {
  display: block;
  flex-grow: 0;
  width: 120px;
  height: 24px;
  background: navy;
  font-size: 0.8em;
  color: white;
  text-align: center;
  padding-top: 7px;
  border-radius: 10px;
  cursor: pointer;
}

.tg-page {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  position: absolute;
  top: 20px;
  bottom: 20px;
  left: 20px;
  right: 20px;
  min-height: 0px;
}

.tg-header, .tg-body, .tg-footer {
  flex-shrink: 0;
}

/* ****** */
/* HEADER */
/* ****** */

.tg-header {
  background: navy;
  padding: 5px;
  height: 50px;
  text-align: left;
  line-height: 50px;
  border-radius: 10px;
  margin-bottom: 20px;
}

.tg-freightbooking {
  color: white;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
  display: inline;
}

.tg-slogan {
  font-weight: bold;
  font-size: 1.3em;
  color:yellow;
  font-style:italic;
  margin-left: 40px;
  display: inline;
}

@media screen and (max-width: 1500px) {
  .tg-slogan {
    display: none;
  }
}

.tg-header-right {
  position: absolute;
  background: white;
  margin: 2px;
  margin-top: 6px;
  height: 46px;
  width: 300px;
  right: 20px;
  vertical-align: middle;
  border-radius: 20px;
  flex-direction: row;
  justify-content: flex-start;
}

.tg-header-right > img {
  display: inline-flex;
  margin-left: 20px;
  margin-top: 3px;
  height: 40px;
  width: auto;
}

.tg-header-right > p {
  display: inline-flex;
  margin-left: 20px;
  margin-bottom: 30px;
  vertical-align: middle;
}

.tg-header-right > p > a {
  color: blue;
  font-weight: bold;
  font-size: 1em;
}

.tg-header-logout > a:link, .tg-header-logout > a:visited, .tg-header-logout > a:active {
  color: white;
}

.tg-header-game-user {
  position: fixed;
  text-align: left;
  color: white;
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 5px;
  margin-left: 10px;
}

.tg-header-game-user > p {
  margin: 1px;
}


/* ****** */
/* FOOTER */
/* ****** */

.tg-footer {
  width: 100%;
  background: navy;
  padding: 0px;
  height: 50px;
  border-radius: 10px;
  margin-top: 20px;
}

.tg-footer > table {
  position: absolute;
  margin-top: 0;
  padding-top: 0;
}

.tg-help-icon-left {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 22px;
  background-color: white;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-left: 6px;
  cursor: pointer;
}

.tg-help-icon-left > img {
  display: inline;
  width: 44px;
  height: 44px;
}

.tg-help-col {
  padding-right: 20px;
}

.tg-help-col td {
  white-space: nowrap;
}

.tg-help-col p {
  margin: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  padding-right: 10px;
  font-size: 0.7em;
  color: white;
  font-style: normal;
}

/* ===================================== */
/* MODAL WINDOWS WITH POP UP INFORMATION */
/* ===================================== */

/* modal background */
.tg-modal {
  display: block;
  position: fixed; /* Stay in place */
  z-index: 9; /* On top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* modal window close button */
.tg-modal-close {
  font-size: 2em;
  font-weight: bold; 
  padding-left: 10px;
}

.tg-modal-close:hover,
.tg-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* modal window definition for client */
.tg-modal-window {
  position: absolute;
  z-index: 10;
  display: block;
  flex-direction: column;
  justify-content: flex-start;
  background-color: #fefefe;
  left: calc(50vw - 350px);
  top: calc(50vh - 200px);
  border: 1px solid #888;
  width: 700px;
  height: 400px;
}

/* modal window header for client */
.tg-modal-window-header {
  cursor: move;
  display: flex;
  background-color: orange;
  width: 100%;
  height: 40px;
  padding-top: 2px;
}

.tg-modal-window-header > p {
  width: 100%;
  font-weight: bold;
  font-size: 1.2em;
  color: black;
  text-align: center;
  margin-top: 8px;
}

.tg-modal-button-row {
  width: 100%;
  height: 50px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.tg-modal-body {
  flex-direction: column;
  justify-content: space-around;
  width: 100%;
  padding-left: 10px;
  padding-right: 10px;
}

.tg-modal-text {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.tg-modal-text > p {
  text-align: center;
  font-size: 1em;
  font-style: normal;
}
  
